* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.show-onclick {
    display: none;
}

.book-card {
    background-color: aqua;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
}